/* Mulish Font from Google */

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap');

/* Global Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

body {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0;
}

:root {
  --primary-color: #ff5400;
  --dark-1: #131318;
  --dark-2: #424247;
  --dark-3: #5a5a5d;
}

/* Reused Styles */

.section_textbox {
  max-width: 643px;
  margin: 0 auto;
  text-align: center;
}

.section_description {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgba(19, 19, 24, 0.7);
}

.section_title {
  color: var(--dark-1);
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}

.section_subtile {
  font-size: 24px;
  font-weight: 800;
  color: var(--dark-1);
  margin-bottom: 16px;
}

.btn_primary {
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  background-color: var(--primary-color);
  padding: 14px 34px;
  border-radius: 8px;
  display: inline-block;
}

/* Nav Menu */

nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  align-items: center;
}

.nav_logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav_img {
  max-width: 48px;
  height: auto;
  align-items: center;
  margin-right: 16px;
}

.nav_text {
  font-size: 36px;
  font-weight: 800;
  color: var(--dark-1);
}

.nav_text span {
  color: var(--primary-color);
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

nav ul li {
  margin: 0;
}

.nav_link {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 400;
  color: var(--dark-2);
  padding-left: 44px;
  transition: all 0.3s;
}

.nav_link:hover {
  color: var(--primary-color);
}

.nav_link.active {
  color: var(--primary-color);
}

.nav_hamburger {
  display: none;
  color: var(--dark-1);
}

/* Header Styles */

header {
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(19, 19, 24, 0.8) 0%, rgba(19, 19, 24, 0) 100%), url(images/header_img.png);
  text-align: center;
  color: #fff;
  padding: 106px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
}

header .section_description {
  color: #fff;
}

.header_wrap {
  max-width: 770px;
  margin: 0 auto;
}
.header_title {
  font-size: 64px;
  font-weight: 800;
  margin-bottom: 24px;
}

.header_form {
  margin-top: 48px;
  width: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 16px;
  display: flex;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
}

.header_form input,
.header_form select,
.header_form-btn {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  color: rgba(19, 19, 24, 0.5);
  padding: 16px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #fff;
}

.header_form-btn {
  background-color: var(--primary-color);
  color: #fff;
}

.header_form-btn:hover {
  cursor: pointer;
}

.header_form-btn i {
  margin-right: 8px;
}

.header_form input::placeholder {
  opacity: 1;
}

/* Tours Section Styles */

.tours {
  display: flex;
  gap: 50px;
  padding: 100px 0;
}

.tours_textbox {
  flex: 1;
}
.tours_img {
  width: 100%;
  flex-grow: 50%;
}

.tours .btn_primary {
  margin-top: 32px;
}

.tours ul {
  margin: 24px 0;
  padding-left: 20px;
}
.tours ul li:not(:last-child) {
  margin-bottom: 16px;
}

/* Gallary Section */

.gallary_container {
  margin-top: 48px;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-areas:
    'Maldives  Maldives  Maldives Maldives Maldives  Indonesia  Indonesia   Indonesia Indonesia Indonesia'
    'Srilanka  Srilanka  Srilanka   North  North  North   North       North       Kashmir  Kashmir'
    'Bangladesh Bangladesh Bangladesh Bangladesh  Bandarban Bandarban Bandarban Bandarban Bandarban Bandarban';
}

.gallary_container > div {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  font-size: 28px;
  font-weight: 800;
  color: #fff;
}

.gallary_1 {
  background: url(images/1.png);
  grid-area: Maldives;
}
.gallary_2 {
  background: url(images/2.png);
  grid-area: Indonesia;
}
.gallary_3 {
  background: url(images/3.png);
  grid-area: Srilanka;
}
.gallary_4 {
  background: url(images/4.png);
  grid-area: North;
}
.gallary_5 {
  background: url(images/5.png);
  grid-area: Kashmir;
}
.gallary_6 {
  background: url(images/6.png);
  grid-area: Bangladesh;
}
.gallary_7 {
  background: url(images/7.png);
  grid-area: Bandarban;
}

/* choose_us Section */

.choose_us {
  margin: 100px 0;
}

.choose_us_container {
  display: flex;
  gap: 24px;
  margin-top: 48px;
  flex-wrap: wrap;
  justify-content: center;
}

.choose_us_box {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding: 32px;
  width: 573px;
}
.choose_us_box:nth-child(2) {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}

.choose_us_img {
  max-width: 64px;
  margin-bottom: 32px;
}

/* Deals Section Styles */
.deals_container_wrapper {
  margin: 48px 0;
}

.deals_container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  border-radius: 16px;
  margin-bottom: 24px;
  padding: 56px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.deals_container:first-child {
  background-image: url(images/deals1.png);
}
.deals_container:nth-child(2) {
  background-image: url(images/deals2.png);
  justify-content: flex-start;
}
.deals_container:last-child {
  background-image: url(images/deals1.png);
}

.deals_textbox {
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  padding: 50px;
  max-width: 580px;
}

.deals_textbox ul {
  list-style: none;
  display: flex;
  align-items: center;
  /* justify-content: baseline; */
  color: var(--dark-3);
  font-size: 16px;
  gap: 24px;
  flex-wrap: wrap;
  margin-bottom: 26px;
}

.deals_textbox ul li i,
.deals_price {
  color: var(--primary-color);
  margin-right: 8px;
  font-size: 22px;
}

.deals_price {
  font-size: 20px;
  font-weight: 800;
  margin: 16px 0 24px 0;
}

.deals_btn {
  text-align: center;
}

/* Video Section */

.video {
  padding: 100px 0;
  display: flex;
  gap: 28px;
}

.video_textbox {
  flex-basis: 50%;
}

.video_videobox {
  border-radius: 16px;
  flex-basis: 50%;
  min-height: 250px;
}

.video_videobox iframe {
  height: 100%;
  width: 100%;
  border-radius: 16px;
}
.video ul {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  padding-left: 15px;
  margin: 30px 0;
}

/* ########## 
Responsive Styles
############*/

@media screen and (max-width: 600px) {
  body {
    padding: 0 20px;
  }

  .section_title,
  .section_subtile {
    font-size: 20px;
    margin-bottom: 16px;
  }

  nav,
  .tours,
  .video {
    padding: 25px 0;
  }
  nav ul,
  .deals_btn {
    display: none;
  }

  .nav_hamburger {
    display: block;
    font-size: 25px;
  }

  .nav_text {
    font-size: 21px;
  }

  .nav_img {
    max-width: 28px;
  }

  .section_description {
    font-size: 14px;
    line-height: 21px;
  }

  .header_title {
    font-size: 22px;
  }

  .header_form,
  .tours,
  .video {
    flex-direction: column;
  }

  header {
    padding: 32px 24px;
  }

  .choose_us_container,
  .gallary_container {
    margin-top: 16px;
  }

  .gallary_container {
    gap: 16px;
    grid-template-columns: 1fr;
    grid-template-areas:
      'Maldives'
      'Indonesia'
      'Srilanka'
      'North'
      'Kashmir'
      'Bangladesh'
      'Bandarban';
  }

  .gallary_container > div {
    max-height: 180px;
  }

  .choose_us {
    margin: 24px 0;
  }

  .choose_us_img {
    max-width: 48px;
    margin-bottom: 16px;
  }

  .deals_container {
    padding: 180px 16px 16px 16px;
  }

  .deals_textbox {
    padding: 26px;
  }

  .deals_container_wrapper {
    margin-bottom: 0;
  }

  .deals_textbox .section_subtile {
    margin-bottom: 8px;
  }

  .deals_textbox ul {
    gap: 18px;
  }
}
